.lcList{
  display: flex;
  margin-right: 5px;
  overflow-x: hidden;
  border:1px solid black;
  position: relative;
  z-index: -1;
}

.container{
  top:0;
  width:1300px;
  padding: 20px 30px;
  margin: 0 auto;
}

.slideImg{
  width: 100%;
  margin: 0 auto;
}
