.container {
  width:1300px;
  height: 20vh;
  border: 1px solid #67adb7;
  margin: 20px auto;
  border-radius:  10px;
  position: relative;
  box-shadow:0 1px 1px #67adb7, 0 1px 1px #67adb7;
}

.titleBox{
  width:200px;
  height: inherit;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 20px;
}

.image_list{
  border-radius: 30px;
  padding: 8px;
  width:1100px;
  height: 17vh;
  z-index: 10;
  margin: 0 150px;
  
}

